.t-page-container .t-record-container
{
    background: #150027 !important;
}

.tn-artboard *
{
    font-family: "Geist", sans-serif !important;
    letter-spacing: -0.03em !important;
}

#allrecords *
{
    font-family: "Geist", sans-serif !important;
    letter-spacing: -0.03em !important;
    transition: all 0.2s ease !important;
}

.btn_dark .tn-atom:not(:hover)
{
    background-image: linear-gradient(168.16deg, #9142FF 4.08%, #3F0294 86.75%) !important;
    box-shadow: inset 0px 0px 20px #A962FF !important;
}

.btn_yelow .tn-atom:not(:hover)
{
    background-image: linear-gradient(159.41deg, #FFCD02 34.3%, #A18F07 73.67%) !important;
    box-shadow: inset 0px 0px 20px #FFFF62 !important;
}

.btn_gray .tn-atom:not(:hover)
{
    background-image: linear-gradient(180deg, #FFFFFF 21.15%, #999999 100%) !important;
    box-shadow: inset 0px 0px 30px #FFFFFF !important;
}

.fg-glow
{
    mix-blend-mode: plus-lighter !important;
}

[href*="showmore-"].active
{
    text-decoration: underline !important;
    color: #FFCD02 !important;
}

.uc-request form button:not(:hover)
{
    background-image: linear-gradient(159.41deg, #FFCD02 34.3%, #A18F07 73.67%) !important;
    box-shadow: inset 0px 0px 20px #FFFF62 !important;
}

.bg-image
{
    z-index: -1 !important;
}

.uc-steps .box .tn-atom
{
    box-shadow: inset 0px 0px 200px rgba(169, 98, 255, 0.2) !important;
}

.uc-history
{
    z-index: 10 !important;
    position: relative !important;
}

.uc-history .t1148__slider 
{
    gap: var(--image-gap) !important;
    margin: auto !important;
    width: calc(var(--image-width)*3 + var(--image-gap)*2) !important;
    padding: unset !important;
    --image-height: 480px;
    --image-width: calc(var(--image-height) / 16 * 9) !important;
    --image-gap: 40px;
    
}

.uc-history .t1148__item
{
    width: var(--image-width);
}

.uc-history .t1148__img-wrapper
{
    margin: auto !important;
    width: var(--image-width);
    height: var(--image-height);
}

.uc-history .t1148__descr
{
    line-height: 1 !important;
}

