.t-page-container .t-record-container
{
    background: #150027 !important;
}

.tn-artboard *
{
    font-family: "Geist", sans-serif !important;
    letter-spacing: -0.03em !important;
}

#allrecords *
{
    font-family: "Geist", sans-serif !important;
    letter-spacing: -0.03em !important;
    transition: all 0.2s ease !important;
}

.btn_dark .tn-atom:not(:hover)
{
    background-image: linear-gradient(168.16deg, #9142FF 4.08%, #3F0294 86.75%) !important;
    box-shadow: inset 0px 0px 20px #A962FF !important;
}

.btn_yelow .tn-atom:not(:hover)
{
    background-image: linear-gradient(159.41deg, #FFCD02 34.3%, #A18F07 73.67%) !important;
    box-shadow: inset 0px 0px 20px #FFFF62 !important;
}

.btn_gray .tn-atom:not(:hover)
{
    background-image: linear-gradient(180deg, #FFFFFF 21.15%, #999999 100%) !important;
    box-shadow: inset 0px 0px 30px #FFFFFF !important;
}

.fg-glow
{
    mix-blend-mode: plus-lighter !important;
}

[href*="showmore-"].active
{
    text-decoration: underline !important;
    color: #FFCD02 !important;
}

.uc-request form button:not(:hover)
{
    background-image: linear-gradient(159.41deg, #FFCD02 34.3%, #A18F07 73.67%) !important;
    box-shadow: inset 0px 0px 20px #FFFF62 !important;
}

.bg-image
{
    z-index: -1 !important;
}
